copy/src/main/mule/copy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="35b87fc9-4a5f-4f9a-a68c-547c9d5d3523" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="772bb0dc-c5ca-4ae1-9ab4-afbfced1a89d" />
	<configuration-properties doc:name="Configuration properties" doc:id="695ab117-1e60-4eec-8bea-e7b301c4621d" file="config.properties" />
	<flow name="main" doc:id="8996a82c-6fe6-4c4e-80b5-7f69d8b6db86" >
		<http:listener doc:name="Listener" doc:id="f0c0d9ff-37ab-4bc3-8300-ffd5ed065eae" config-ref="HTTP_Listener_config" path="/subflow"/>
		<logger level="INFO" doc:name="start log" doc:id="1a715165-c495-4d08-9cd3-54009582d6af" message="start log"/>
		<set-variable value="#[attributes.queryParams.mule]" doc:name="store queryParams" doc:id="499f0b81-a846-4219-8746-6bf2d1ca289d" variableName="mule"/>
		<set-variable value="#[attributes.method]" doc:name="store method" doc:id="1b61a43e-edc2-49c0-ab70-e201dbb16c6f" variableName="method"/>
		<logger level="INFO" doc:name="middle  Logger" doc:id="0e4eadc4-f07e-49bd-a875-8ba35588cb92" message="middle log"/>
		<file:read doc:id="fc08a8ee-18f3-48d2-9646-22af48a15315" config-ref="File_Config" path="C:\Users\ywn2\udemycourse\copy\src\test\resources\log4j2-test.xml"/>
		<set-payload value='#["hi " ++ vars.mule as String ++ " your method " ++ vars.method]' doc:name="print attributes using stored value" doc:id="2e71894f-28f7-4f96-9088-4868b0924531" />
		<logger level="INFO" doc:name="end log" doc:id="2376a164-192b-42e3-88f2-611cd24f4600" message='#["successful ::" ++ payload]'/>
	</flow>
	<flow name="parent" doc:id="d52cef5c-6c80-4cd3-8f21-06af21220461" >
		<http:listener doc:name="Listener" doc:id="aaa5e20c-5e47-4a31-a762-153fe901b47f" config-ref="HTTP_Listener_config" path="/parent"/>
		<logger level="INFO" doc:name="Logger" doc:id="f8544560-6c72-40ab-8f07-1bf21de30a29" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="6f63b45e-6c58-415b-81e9-8672ff54e821" name="child"/>
		<logger level="INFO" doc:name="sorry mom" doc:id="eec46b75-9ef4-4c40-a32c-f157850fc3d4" message="sucess"/>
	</flow>
	<sub-flow name="child" doc:id="65f1e9c8-521c-4698-87bc-f3c5285d1cdf" >
		<set-payload value='#["mom  iam sorry"]' doc:name="overridde parents payload" doc:id="9bb2b628-3e8a-4fe9-9f6c-b02fdf931a9d" />
	</sub-flow>
	<flow name="concat-null" doc:id="a5f68ccc-d75f-4524-8566-ea9c8fd3ee3e" >
		<http:listener doc:name="Listener" doc:id="60b96809-562f-42ff-908b-7a7fbb3a06c3" config-ref="HTTP_Listener_config" path="/dw"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae2b6dab-dd6d-4b1a-bd06-ae938cd95bf7" message="start log"/>
		<ee:transform doc:name="{ } null" doc:id="34471e86-9501-47a8-ad5f-04ecb1ead023" >
			<ee:message >
				<ee:set-payload ><![CDATA["successful from new target"]]></ee:set-payload>
				<ee:set-attributes ><![CDATA["servan"]]></ee:set-attributes>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="methodname" ><![CDATA[attributes.method]]></ee:set-variable>
				<ee:set-variable variableName="mule" ><![CDATA[attributes.queryParams.mule]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="cant coerc null to string" doc:id="fb6de2a9-8997-4ff7-a8da-431e95aed242" message='#["successfuly completed ::"  ++ payload]'/>
	</flow>
	<flow name="copyFlow" doc:id="6d9e9cb8-d149-4b82-a1b8-41c70ed845be" >
		<http:listener doc:name="Listener" doc:id="f8d3dcf3-1e70-4cb2-823d-88c21ab0deb5" config-ref="HTTP_Listener_config" path="/properties"/>
		<logger level="INFO" doc:name="Logger" doc:id="e08787ff-d58b-4054-b19e-2207c4fa9619" message="start"/>
		<set-payload value='${message}' doc:name="Set Payload" doc:id="f91110e2-4450-41a1-90f1-11fab87efd49" />
	</flow>

</mule>