jms-chinna-publish-consume/src/main/mule/consume-from_monster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="subscribe_emp_profile" doc:id="8cc2105c-c0a6-40c5-9ff7-927d750918b1" >
		<jms:listener doc:name="On New Message" doc:id="cdde77a4-a4e3-4dc8-8e37-9cb504b16a5c" config-ref="JMS_Config" destination="Q.MONSTER.PROFILE" inboundContentType="application/json">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="acc61af9-72a3-4a9e-9105-c45d2f2cb1c0" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
