6update-udemy/src/main/mule/6update-udemy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7d702abb-c4b5-4b7b-9666-6e7a2ee91e4b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="de65e124-ea6e-4707-b8b1-3a8582b1ea32" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="mule_db" />
	</db:config>
	<flow name="update-data" doc:id="77643a0a-bdfc-479e-ae6c-1011f638281e" >
		<http:listener doc:name="POST" doc:id="210ee04a-f8a5-429a-9aa3-0c130d86056d" config-ref="HTTP_Listener_config" path="/update/{customerID}"/>
		<db:update doc:id="71d646a8-8415-4727-9352-5cce2a07b323" config-ref="Database_Config">
			<db:sql ><![CDATA[update customers set customerName = :custName where id = :custId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'custId': attributes.uriParams.customerID,	
'custName': payload.customer.customerName

}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="c79ea478-76e9-4c32-bf8c-500b11d4a7ef" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<choice doc:name="validate update" doc:id="dee9c1e4-73f1-4092-b3dc-664fe59c602f" >
			<when expression="#[payload.affectedRows &gt;0]">
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;"success": payload&#10;&#10;}]' doc:name="Set Payload SUCCESS" doc:id="49d013ae-9228-4e65-8e96-1c39905b9c6f" />
			</when>
			<otherwise >
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;"in success": payload&#10;&#10;}]' doc:name="Set Payload INSUCCESS" doc:id="f77e6d12-b126-4f0f-8a4d-2038ed05c00b" />
			</otherwise>
		</choice>
	</flow>
</mule>
